streamlit>=1.32.0
requests>=2.31.0
pandas>=2.3.0
PyPDF2>=3.0.1
meteostat==1.6.7
numpy==1.26.4
reportlab>=4.0.9
python-dateutil>=2.9.0.post0
openai>=1.0.0
textblob>=0.17.1
openpyxl>=3.1.2
PyPDF2>=3.0.1
python-docx>=1.1.0
openpyxl>=3.1.0
